body {
    background-color: lightgrey;
}

.gameContainer {
    width: fit-content;
    height: fit-content;
    background-color: grey;
    padding: 15px;
    border-radius: 5px;

}

.cell {
    display: flex;
    background-color: lightgrey;

    border: 1px solid black;
    height: 25px;
    width: 25px;
}
.row {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    margin: 0px;
}
